ul.spot-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

ul.spot-list li {
  display: flex;
  flex-direction: column;
}

ul.spot-list li header {
  width: 78%;
  height: 120px;
  background-size: cover;
  border-radius: 100px;
  margin-left: 16px;
  margin-bottom: 10px;
}

ul.spot-list li strong {
  margin-top: 10px;
  font-size: 24px;
  color: #FFF;
  margin: auto;
}

.strongNotifications {
 font-size: 16px;
  color: rgba(255, 255, 255, 0.664);
 
}

ul.notifications {
  list-style: none;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.233);
  padding: 10px;
  border-radius: 4px;
}

ul.notifications li {
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
}

ul.notifications li button {
  margin-right: 10px;
  border: 0;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
}

.btnPermission {
  display: flex;
}

ul.notifications li button.accept {
  border: 0;
  border-radius: 50px;
  width: 50%;
  height: 32px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  background: #eab57933;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

ul.notifications li button.reject {
  border: 0;
  margin-top: 10px;
  border-radius: 50px;
  width: 50%;
  height: 32px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  background: #eab57933;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}